@use 'vars';
@use 'mixins';

@import 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';

.base-swiper {
  --bg-rgb: 255, 255, 255;
  --btn-size: 40px;

  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 16px;

  .swiper-button {
    display: flex;
    position: absolute;
    flex-shrink: 0;
    width: calc(50px + var(--slide-padding));
    height: auto;
    background: none;
    color: #b7b7b7;
    top: 0;
    bottom: 0;
    margin: 0;

    &:hover {
      color: var(--blue);
    }

    &::after {
      content: normal;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &__icon {
      display: flex;
      width: var(--btn-size);
      height: var(--btn-size);
      border-radius: var(--btn-size);
      background: #fff;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      transition: vars.$transition-style;
      transition-property: color, opacity;
      margin: auto;

      .icon {
        display: block;
        margin: auto;
        height: 16px;
        color: currentColor;
      }
    }
  }

  &:not(.swiper-initialized) .swiper-button-prev {
    display: none;
  }

  .swiper-button-prev {
    left: 0;
    background: linear-gradient(to right, rgba(var(--bg-rgb), 1) 0%, rgba(var(--bg-rgb), 0) 100%);
    .icon {
      transform: scaleX(-1);
    }
  }

  .swiper-button-next {
    right: 0;
    background: linear-gradient(to left, rgba(var(--bg-rgb), 1) 0%, rgba(var(--bg-rgb), 0) 100%);
  }
}

.main-swiper {
  $block: &;

  --slide-padding: 10px;

  margin: 0 calc(var(--slide-padding) * -1) 24px;

  &__slide {
    padding: 0 var(--slide-padding);

    #{$block}:not(.swiper-initialized) & {
      flex: 1;

      &:nth-child(n + 4) {
        display: none;
      }
    }
  }

  .swiper-button {
    @include mixins.breakpoint(vars.$md) {
      background: none;
    }

    &:where(.swiper-button-prev) {
      padding-left: var(--slide-padding);
    }

    &:where(.swiper-button-next) {
      padding-right: var(--slide-padding);
    }

    &__icon {
      display: none;

      @include mixins.breakpoint(vars.$md) {
        display: flex;
      }
    }
  }
}

.thumb-swiper {
  --bg-rgb: 0, 0, 0;
  --max-width: none;

  margin: 20px auto 0;
  width: 100%;
  max-width: var(--max-width);

  @include mixins.breakpoint(vars.$md) {
    --max-width: 80%;
  }

  @include mixins.breakpoint(vars.$md) {
    --max-width: 1000px;

    width: 80%;
  }

  .swiper-slide {
    display: flex;
    padding: 4px 5px;
    margin: 0;
    width: 20%;

    img {
      display: block;
      margin: auto;
    }

    &.swiper-slide-thumb-active img {
      box-shadow: 0 0 0 4px #eed755;
    }
  }


}

.gallery-view {
  --bg-rgb: none;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .swiper-slide {
    display: flex;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }

}

.swiper-popup {
  display: flex;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.95);
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: vars.$transition-style;
  transition-property: opacity, visibility, transform;

  @include mixins.breakpoint(vars.$md) {
    padding: 32px;
  }

  &--open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &__body {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .gallery-view {
      flex: 1;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    cursor: pointer;
    color: #fff;
    opacity: 0.5;
    transition: vars.$transition-style;
    transition-property: color, opacity;
    z-index: 100;

    &:hover {
      opacity: 1;
    }

    .icon {
      display: block;
      font-size: 18px;
      margin: auto;
    }
  }
}
