---
layout: default
---

<div class="top-pict" style="--bg-left: var(--default-bg); --bg-right: var(--default-bg);">
  <img src="/img/top-img.jpg" alt="">
</div>

<div class="main__body container-fluid">
  <section class="l-organization">
    <div class="l-organization__header">
      <div class="sect-notify sect-notify--warning">
        <svg class="icon icon-alert-triangle-outline sect-notify__icon" role="img"><use xlink:href="/img/2024/sprite.svg#alert-triangle-outline"/></svg>
        <div class="sect-notify__text">WARNING! The information on this page is not current</div>
      </div>

      <meta itemprop="url" content="https://tickikids.com/sg/british-council-singapore/" />

      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/organizations/3556/icon_social_5e4f8fc7209660.63801728.jpg" />

      <meta itemprop="description" content="The British Council is the United Kingdom's international organisation for cultural relations and educational opportunities.     British Council Singapore" />

      <h1 itemprop="name">British Council Singapore</h1>

      <ul class="breadcrumb">
        <li><a href="/sg/organizations/">Organizations</a></li>
        <li class="active">British Council Singapore</li>
      </ul>
    </div>

    <div class="l-organization__info">
      <div class="lo-side sticky-side">
        <div class="lo-side__top">
          <div class="lo-side__logo lo-logo">
            <img src="/img/logo-british-council.svg" alt="British Council">
          </div>

          <div class="lo-side__membership membership membership--gold">
            <div class="membership__logo">
              <img class="membership__img" src="/img/member-gold.svg" alt="Gold">
              <div class="membership__logo-text">Gold</div>
            </div>

            <div class="membership__term">
              <div class="membership__year">2015</div>
              <div class="membership__term-text">On TickiKids since</div>
            </div>
          </div>

          <ul class="lo-side__links j-links">
            <li class="j-links__item"><a href="#wtim"><i class="b-icon b-icon--time"></i>Opening hours</a></li>
            <li class="j-links__item"><a href="#tick"><i class="b-icon b-icon--ticket"></i>Tickets</a></li>
            <li class="j-links__item"><a href="#amap"><i class="b-icon b-icon--pin"></i>Address</a></li>
            <li class="j-links__item"><a href="#cont"><i class="b-icon b-icon--tel"></i>Contacts</a></li>
          </ul>
        </div>

        <div class="lo-side__body">
          <div class="o-info-sect">
            <h3>Open hours</h3>
            <p>9:00 – 18:00</p>
          </div>

          <div class="o-info-sect">
            <h3>Tickets</h3>
            <ul class="o-tickets">
              <li class="o-tickets__item">
                <div class="o-tickets__label">Adults</div>
                <div class="o-tickets__value">S$ 42.9</div>
              </li>
              <li class="o-tickets__item">
                <div class="o-tickets__label">Children under 12 years of age, students and people aged</div>
                <div class="o-tickets__value">S$ 32.9</div>
              </li>
            </ul>
          </div>

          <div class="o-info-sect">
            <h3>Contacts</h3>
            <p>
              <a href="tel:+65 6807 1599">+65 6807 1599</a><br>
              <a href="mailto:contact@britishcouncil.org.sg">contact@britishcouncil.org.sg</a>
            </p>
          </div>

          <div class="o-info-sect">
            <h3>Address</h3>
            <p>
              Singapore 30 Napier Rd, Singapore 258509
            </p>
          </div>

          <div class="o-info-sect">
            <h3>Other locations</h3>
            <p>
              <a href="#"><b>British Council Singapore</b></a><br>
              30 Napier Rd, Singapore 258509
            </p>
            <p>
              <a href="#"><b>British Council Singapore @ Napier Road Centre</b></a><br>
              30 Napier Rd, Singapore 258509
            </p>
            <p>
              <a href="#"><b>British Council Singapore @ Tampines Centre</b></a><br>
              11 Tampines Concourse #01-02/03/04,<br>
              Singapore 528729
            </p>
          </div>

          <div class="socials">
            <p><img src="/img/sm-globe.svg" alt="link" width="20">&nbsp;&nbsp;<a target="_blank" href="http://www.britishcouncil.sg" class="ClickOut" data-elnk="1">http://www.britishcouncil.sg</a></p>

            <p><img src="/img/sm-x-twitter.svg" alt="tw" width="20">&nbsp;&nbsp;<a target="_blank" href="http://twitter.com/sgBritish" class="ClickOut" data-elnk="1">http://twitter.com/sgBritish</a></p>

            <p><img src="/img/sm-facebook.svg" alt="fb" width="20">&nbsp;&nbsp;<a target="_blank" href="http://facebook.com/BritishCouncilSingapore/" class="ClickOut" data-elnk="1">http://facebook.com/BritishCouncilSingapore/</a></p>

            <p><img src="/img/sm-yotube.svg" alt="yt" width="20">&nbsp;&nbsp;<a target="_blank" href="https://youtube.com/user/britishcouncilsg" class="ClickOut" data-elnk="1">https://youtube.com/user/britishcouncilsg</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-organization__main">
      {% include images-gallery.liquid %}

      <div class="l-organization__content expand-mob-text">
        <div class="expand-mob-text__body text-content">
          <h3><strong>Turn curiosity into confidence. Turn mistakes into triumphs. A lifelong learning adventure starts at the British Council.</strong></h3>

          <p>Developed by the world’s English experts, the British Council offers enrichment courses for Nursery 1 up to Secondary that are student- centred and aligned to the syllabus set by the Ministry of Education. Our internationally qualified teachers provide a safe, supportive and dynamic environment to help your child succeed at every stage of their academic journey whilst developing the essential 21st century skills and proficiencies to be able to thrive in the fast-changing world. Give your child the opportunity to embark on a more rewarding learning adventure with the British Council, today.</p><br>

          <p><strong>The British Council offers:</strong></p>

          <p><strong>Early Years</strong></p>

          <p><em>Prepare your child to learn with confidence</em></p>

          <p>Our pre-school enrichment programmes focus on literacy, communication and confidence. Our teachers provide a safe and nurturing environment with a focus on developing independent and confident learners through a range of activities, games and materials. We provide an integrated literacy programme that combines phonics awareness with authentic reading texts to provide your child with a strong foundation in English and love for learning, so they are able to develop their reading, writing and oral communication skills to excel in school.</p>

          <p><strong>Lower Primary</strong></p>

          <p><em>Nurture your child to become creative thinkers and confident communicators</em></p>

          <p>At lower primary, our courses help children develop the key skills they need to face challenges both inside and outside of the classroom. Highly qualified and dedicated teachers will help your child to build their confidence and provide them with a wider awareness of the world around them. Students will focus on a variety of literature, helping them to grow as passionate and curious readers. Their written and spoken communication skills will be developed through targeted individual and group activities.</p>

          <p><strong>Upper Primary</strong></p>

          <p><em>Building your child's skills for academic excellence and future success</em></p>

          <p>As your child progresses to upper primary, we help them with academic excellence through the rigorous development of spoken and written skills, combined with detailed comprehension of varied and rich texts. Students collect and refine strategies for tackling exam questions with confidence. Whilst our teachers build your child’s confidence through collaborative activities, critical thinking tasks and student reflection, which leads to improved classroom performance as well as life-long success.</p>

          <p><strong>Secondary</strong></p>

          <p><em>Learn English for the Real World</em></p>

          <p>Our Secondary courses place a strong emphasis on helping students build a global mindset by developing their intercultural confidence, critical thinking and analytical reading skills. Stimulating up-to-date topics are linked to current world issues and incentivise students to develop their written and spoken communication skills and achieve academic success.</p>

          <p><strong>Study Camps</strong></p>

          <p><em>Learn about the world beyond English skills with the British Council’s Study Camps</em></p>

          <p>Our Study Camps are a fun and supportive international environment, where students gain confidence in communicating together in English, and develop the skills of problem solving, collaboration, critical thinking and creativity. Students study a different topic each day, using a unique approach of hands-on experiential learning to ignite interest and improve not only their English skills but their knowledge and awareness of the world around them. Our Study Camps are suitable for Early Years, Primary and Secondary learners, and run at a variety of levels.</p>

          <p><em>Image Credit: British Council Singapore</em></p>
        </div>

        <div class="expand-mob-text__button">
          <button class="btn btn-primary btn--more">
            <span class="btn__text btn__text--more">Read more</span>
            <span class="btn__text btn__text--less">Read less</span>
          </button>
        </div>
      </div>
    </div>

    <div class="l-organization__cards">
      <div class="lo-cards-sect">
        <h3 class="lo-cards-sect__title">Upcoming events</h3>
        <div class="lo-cards-sect__body">
          {% include events-list.liquid %}
        </div>
        <div class="lo-cards-sect__footer">
          <button class="btn btn-primary btn--more">
            <span class="btn__text btn__text--more">Show more</span>
            <span class="btn__text btn__text--less">Show less</span>
          </button>
        </div>
      </div>

      <div class="lo-cards-sect">
        <h3 class="lo-cards-sect__title">Camps</h3>
        <div class="lo-cards-sect__body">
          {% include camps-list.liquid %}
        </div>
        <div class="lo-cards-sect__footer">
          <button class="btn btn-primary btn--more">
            <span class="btn__text btn__text--more">Show more</span>
            <span class="btn__text btn__text--less">Show less</span>
          </button>
        </div>
      </div>

      <div class="lo-cards-sect">
        <h3 class="lo-cards-sect__title">Articles</h3>
        <div class="lo-cards-sect__body">
          {% include articles-list.liquid %}
        </div>
        <div class="lo-cards-sect__footer">
          <button class="btn btn-primary btn--more">
            <span class="btn__text btn__text--more">Show more</span>
            <span class="btn__text btn__text--less">Show less</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="main__map">
  <div class="g-map">
    <iframe
      width="100%"
      height="500"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=1.3051213,103.8214902&key=AIzaSyBRlBHVRo6AvZgYP4-Dh_KjK2M2MKAuwq8" allowfullscreen>
    </iframe>
  </div>
</section>
