<ul class="o-card-list">
  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-1.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Updated: 2023 TickiKids' Educational Guide: Top preschools in Singapore</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">1 November 2023</div>
      </div>
      <div class="article-item__text">
        TickiKids' Educational Guide is famous for candid reviews of leading private and state schools for children aged 3-18 in Singapore. We scrutinise academic performance, well-being and atmosphere, extra-curricular activities, games and arts, childcare and much more.
      </div>
    </a>
  </li>

  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-2.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Year-End 2023 Holiday Camps for Children in Singapore. Part 1</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">10 October 2023</div>
      </div>
      <div class="article-item__text">
        We are excited to announce a plethora of great camps for kids in Singapore, where learning meets entertainment! Kids will have the opportunity to explore various subjects such as robotics, coding, drama, music, and more. So, take a look and select the camp that fits your kids' interests!
      </div>
    </a>
  </li>

  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-3.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Winter 2023/2024 Study Camps by British Council Singapore</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">2 October 2023</div>
      </div>
      <div class="article-item__text">
        Each season, the British Council prepares new interesting, well-rounded enrichment courses for students of all ages and levels, and this winter is not an exception! Look at some of the activities offered by the experts of one of the best language schools!
      </div>
    </a>
  </li>

  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-1.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Updated: 2023 TickiKids' Educational Guide: Top preschools in Singapore</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">1 November 2023</div>
      </div>
      <div class="article-item__text">
        TickiKids' Educational Guide is famous for candid reviews of leading private and state schools for children aged 3-18 in Singapore. We scrutinise academic performance, well-being and atmosphere, extra-curricular activities, games and arts, childcare and much more.
      </div>
    </a>
  </li>

  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-2.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Year-End 2023 Holiday Camps for Children in Singapore. Part 1</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">10 October 2023</div>
      </div>
      <div class="article-item__text">
        We are excited to announce a plethora of great camps for kids in Singapore, where learning meets entertainment! Kids will have the opportunity to explore various subjects such as robotics, coding, drama, music, and more. So, take a look and select the camp that fits your kids' interests!
      </div>
    </a>
  </li>

  <li class="o-card-list__item">
    <a href="#" class="article-item">
      <img src="/img/articles/art-3.jpg" alt="" class="article-item__img">
      <h3 class="article-item__title">Winter 2023/2024 Study Camps by British Council Singapore</h3>
      <div class="article-item__date article-date">
        <svg class="icon icon-calendar-outline" role="img"><use xlink:href="/img/2024/sprite.svg#calendar-outline"/></svg>
        <div class="article-date__text">2 October 2023</div>
      </div>
      <div class="article-item__text">
        Each season, the British Council prepares new interesting, well-rounded enrichment courses for students of all ages and levels, and this winter is not an exception! Look at some of the activities offered by the experts of one of the best language schools!
      </div>
    </a>
  </li>
</ul>
