<ul class="o-card-list">
  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="camps" data-id="24472" itemprop="event" itemscope="" itemtype="https://schema.org/Event" style="border:solid 1px #94C900;background-color:#ffffff;">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/24472/icon_thumb_63f5b5885e8644.66582526.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/newton-show/newton-show-lab-holiday-program/?from=camps">
      <a href="/sg/newton-show/newton-show-lab-holiday-program/?from=camps" title="Newton Show Lab Holiday Program">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/24472/icon_thumb_63f5b5885e8644.66582526.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/24472/icon_thumb_63f5b5885e8644.66582526.jpg" alt="Newton Show Lab Holiday Program" title="Newton Show Lab Holiday Program"></div>
          <div style="position:absolute;top:0px;left:0px;background-color: #94C900;padding:3px 10px;color:#ffffff;">Featured</div>                                                                    <div style="position:absolute;bottom:0px;left:0px;background-color: #f6f6f6;padding:3px 10px;color:#707070;border-bottom:solid 1px #e1e1e1;border-right:solid 1px #e1e1e1;border-top:solid 1px #e1e1e1;">Singapore</div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Newton Show Lab Holiday Program</h3>
          <div class="event-item__info" style="overflow-wrap: break-word;">
            <p class="event-item__time"><span class="glyphicon glyphicon-calendar"></span> <b>04 March  09:00</b></p>
            <meta itemprop="startDate" content="2024-03-04T09:00">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place">
              <span class="glyphicon glyphicon-map-marker"></span> <span itemprop="address">230 River Valley Rd, Singapore</span>
              <meta itemprop="name" content="Newton Show Lab Holiday Program">
            </p>
          </div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="6–12" href="/sg/search/?a=6-12"><span class="b-icon b-icon--age"></span>6–12</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Camps" href="/sg/search/?c=e75">
              <span class="b-icon b-icon--ctg"></span>Camps                                        </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="camps" data-id="25425">
      <a href="/sg/lingoace-singapore/writing-al1-chinese-composition-camp/?from=camps" title="Writing AL1 Chinese Composition Camp">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25425/icon_thumb_65a7bf88a9ac63.46326106.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25425/icon_thumb_65a7bf88a9ac63.46326106.jpg" alt="Writing AL1 Chinese Composition Camp" title="Writing AL1 Chinese Composition Camp"></div>
          <div style="position:absolute;bottom:0px;left:0px;background-color: #f6f6f6;padding:3px 10px;color:#707070;border-bottom:solid 1px #e1e1e1;border-right:solid 1px #e1e1e1;border-top:solid 1px #e1e1e1;">Singapore</div>
          <div class="event-item__price">
            S$100                                                                            </div>
        </div>

        <div class="event-item__body">
          <h3 style="overflow-wrap: break-word;">Writing AL1 Chinese Composition Camp</h3>
          <div class="event-item__info" style="overflow-wrap: break-word;">
            <p class="event-item__time"><span class="glyphicon glyphicon-calendar"></span> <b>30 January  15:30</b></p>
            <p class="event-item__addr">
              <span class="glyphicon glyphicon-map-marker"></span> <span></span>
            </p>
          </div>
        </div>
      </a>

      <div class="event-item__footer">

        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="8–12" href="/sg/search/?a=8-12"><span class="b-icon b-icon--age"></span>8–12</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Camps" href="/sg/search/?c=e75">
              <span class="b-icon b-icon--ctg"></span>Camps                                        </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="9274" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/9274/icon_thumb_5aa53638929d73.15641805.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/singapore-botanic-gardens/healing-garden-tour/">
      <a href="/sg/singapore-botanic-gardens/healing-garden-tour/" title="Healing Garden Tour @ Singapore Botanic Gardens">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/9274/icon_thumb_5aa53638929d73.15641805.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/9274/icon_thumb_5aa53638929d73.15641805.jpg" alt="Healing Garden Tour @ Singapore Botanic Gardens" title="Healing Garden Tour @ Singapore Botanic Gardens"></div>
          <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/singapore-botanic-gardens/healing-garden-tour/">
            <span itemprop="price">Free</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Healing Garden Tour @ Singapore Botanic Gardens</h3>
          <div class="event-item__info" style="overflow-wrap: break-word;">
            <p class="event-item__time"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 09:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T09:00">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place">
              <span class="glyphicon glyphicon-map-marker"></span> <span itemprop="address">1 Cluny Road, Singapore 259569</span>
              <meta itemprop="name" content="Healing Garden Tour @ Singapore Botanic Gardens">
            </p>
          </div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="3+" href="/sg/search/?a=3-18"><span class="b-icon b-icon--age"></span>3+</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Tours" href="/sg/search/?c=e76">
              <span class="b-icon b-icon--ctg"></span>Tours                                        </a>
          </i>
        </div>
      </div>
    </div>
  </li>
</ul>
