<ul class="o-card-list">
  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="23331" itemprop="event" itemscope="" itemtype="https://schema.org/Event" style="border:solid 1px #94C900;background-color:#ffffff;">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/23331/icon_thumb_648bf3e59cf9d5.38528431.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/gardens-by-the-bay/gardens-by-the-bay-ticket/">
      <a href="/sg/gardens-by-the-bay/gardens-by-the-bay-ticket/" title="Gardens by the Bay Ticket">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/23331/icon_thumb_648bf3e59cf9d5.38528431.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/23331/icon_thumb_648bf3e59cf9d5.38528431.jpg" alt="Gardens by the Bay Ticket" title="Gardens by the Bay Ticket"></div>
          <div style="position:absolute;top:0px;left:0px;background-color: #94C900;padding:3px 10px;color:#ffffff;">Featured</div>                                                                                                    <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/gardens-by-the-bay/gardens-by-the-bay-ticket/">
            <span itemprop="price">S$20</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Gardens by the Bay Ticket</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 09:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T09:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span> <span itemprop="address">18 Marina Gardens Drive, Singapore 018... </span>
            </p>
          </div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="3+" href="/sg/search/?a=3-18"><span class="b-icon b-icon--age"></span>3+</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Exhibitions" href="/sg/search/?c=e66">
              <span class="b-icon b-icon--ctg"></span>Exhibitions
            </a>
          </i>
        </div>

        <div class="event-item__buy">
          <a href="/sg/gardens-by-the-bay/gardens-by-the-bay-ticket/">
            <i class="buy-icon">
              <svg class="icon icon-buy" role="img">
                <use xlink:href="{{ site.baseURL }}/sg/limg/sprite.svg#buy"></use>
              </svg>
            </i>
            Buy
          </a>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="19924" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/19924/icon_thumb_5e3d794b144039.90028882.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/tanglin-arts-studio/birthday-parties-tanglin-arts-studio/">
      <a href="/sg/tanglin-arts-studio/birthday-parties-tanglin-arts-studio/" title="Birthday Parties @ Tanglin Arts Studio">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/19924/icon_thumb_5e3d794b144039.90028882.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/19924/icon_thumb_5e3d794b144039.90028882.jpg" alt="Birthday Parties @ Tanglin Arts Studio" title="Birthday Parties @ Tanglin Arts Studio"></div>
          <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/tanglin-arts-studio/birthday-parties-tanglin-arts-studio/">
            <span itemprop="price">S$300–S$1200</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Birthday Parties @ Tanglin Arts Studio</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 09:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T09:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span>... </p></div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="5+" href="/sg/search/?a=5-18"><span class="b-icon b-icon--age"></span>5+</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Special Offers" href="/sg/search/?c=e83">
              <span class="b-icon b-icon--ctg"></span>Special Offers
            </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="22928" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/22928/icon_thumb_61bc78dcb59024.33683171.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/abrakadoodle/birthday-parties-abrakadoodle/">
      <a href="/sg/abrakadoodle/birthday-parties-abrakadoodle/" title="Birthday Parties @Abrakadoodle">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/22928/icon_thumb_61bc78dcb59024.33683171.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/22928/icon_thumb_61bc78dcb59024.33683171.jpg" alt="Birthday Parties @Abrakadoodle" title="Birthday Parties @Abrakadoodle"></div>
          <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/abrakadoodle/birthday-parties-abrakadoodle/">
            <span itemprop="price">S$310–S$560</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Birthday Parties @Abrakadoodle</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 09:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T09:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span>... </p></div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="3+" href="/sg/search/?a=3-18"><span class="b-icon b-icon--age"></span>3+</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Entertainment" href="/sg/search/?c=e64">
              <span class="b-icon b-icon--ctg"></span>Entertainment
            </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="21740" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/21740/icon_thumb_60705dc2225288.35144874.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/newton-show/birthday-party-newton-show/">
      <a href="/sg/newton-show/birthday-party-newton-show/" title="Birthday Party @Newton Show">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/21740/icon_thumb_60705dc2225288.35144874.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/21740/icon_thumb_60705dc2225288.35144874.jpg" alt="Birthday Party @Newton Show" title="Birthday Party @Newton Show"></div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Birthday Party @Newton Show</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 09:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T09:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span>...
            </p>
          </div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="3–14" href="/sg/search/?a=3-14"><span class="b-icon b-icon--age"></span>3–14</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Entertainment" href="/sg/search/?c=e64">
              <span class="b-icon b-icon--ctg"></span>Entertainment
            </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="25383" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25383/icon_thumb_6595601a324c84.47889711.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/little-bakers-lab/kids-baking-workshop-little-bakers-lab/">
      <a href="/sg/little-bakers-lab/kids-baking-workshop-little-bakers-lab/" title="Kids Baking Workshop @Little Bakers Lab">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25383/icon_thumb_6595601a324c84.47889711.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25383/icon_thumb_6595601a324c84.47889711.jpg" alt="Kids Baking Workshop @Little Bakers Lab" title="Kids Baking Workshop @Little Bakers Lab"></div>
          <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/little-bakers-lab/kids-baking-workshop-little-bakers-lab/">
            <span itemprop="price">S$58–S$88</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">Kids Baking Workshop @Little Bakers Lab</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 14:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T14:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span>... </p></div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="5–12" href="/sg/search/?a=5-12"><span class="b-icon b-icon--age"></span>5–12</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Workshops" href="/sg/search/?c=e73">
              <span class="b-icon b-icon--ctg"></span>Workshops
            </a>
          </i>
        </div>
      </div>
    </div>
  </li>

  <li class="o-card-list__item">
    <div class="event-item  object-block" data-model="search" data-id="25302" itemprop="event" itemscope="" itemtype="https://schema.org/Event">
      <meta itemprop="image" content="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25302/icon_thumb_658a6dbb76cb43.51436553.jpg">
      <meta itemprop="url" content="https://tickikids.com/sg/bessa-british-education-and-schools-show-in-asia/the-world-of-swiss-education-and-summer-camps-2024/">
      <a href="/sg/bessa-british-education-and-schools-show-in-asia/the-world-of-swiss-education-and-summer-camps-2024/" title="The World of Swiss Education and Summer Camps - 2024">
        <div class="event-item__pict">
          <div class="event-item__pict-wrap" style="background-image: url(https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25302/icon_thumb_658a6dbb76cb43.51436553.jpg);"><img src="https://tickikids.ams3.cdn.digitaloceanspaces.com/z2.cache/gallery/activities/25302/icon_thumb_658a6dbb76cb43.51436553.jpg" alt="The World of Swiss Education and Summer Camps - 2024" title="The World of Swiss Education and Summer Camps - 2024"></div>
          <div class="event-item__price" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <meta itemprop="url" content="https://tickikids.com/sg/bessa-british-education-and-schools-show-in-asia/the-world-of-swiss-education-and-summer-camps-2024/">
            <span itemprop="price">Free</span>
          </div>
        </div>

        <div class="event-item__body">
          <h3 itemprop="name" style="overflow-wrap: break-word;">The World of Swiss Education and Summer Camps - 2024</h3>
          <div class="event-item__info is-truncated" style="overflow-wrap: break-word;">
            <p class="event-item__time" style="display: block;"><span class="glyphicon glyphicon-calendar"></span> <b>03 February at 15:00</b></p>
            <meta itemprop="startDate" content="2024-02-03T15:00" style="display: none;">
            <p class="event-item__addr" itemprop="location" itemscope="" itemtype="https://schema.org/Place" style="display: block;">
              <span class="glyphicon glyphicon-map-marker"></span>... </p></div>
        </div>
      </a>

      <div class="event-item__footer">
        <div class="event-item__age">
          <i><a data-toggle="tooltip" title="0+" href="/sg/search/"><span class="b-icon b-icon--age"></span>0+</a></i>
        </div>

        <div class="event-item__ctg">
          <i aria-describedby="ui-id-2">
            <a data-toggle="tooltip" title="Exhibitions" href="/sg/search/?c=e66">
              <span class="b-icon b-icon--ctg"></span>Exhibitions
            </a>
          </i>
        </div>
      </div>
    </div>
  </li>
</ul>
