<div class="img-gallery">
  <div class="base-swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-1.jpg" alt="">
      </div>
      <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-2.jpg" alt="">
      </div>
     <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-3.jpg" alt="">
      </div> 
      <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-4.jpg" alt="">
      </div> 
       <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-1.jpg" alt="">
      </div>
       <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-2.jpg" alt="">
      </div> 
       <div class="swiper-slide main-swiper__slide">
        <img src="/img/gallery/img-3.jpg" alt="">
      </div> 
    </div>

    <div class="swiper-button swiper-button-prev">
      <div class="swiper-button__icon">
        <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
      </div>
    </div>

    <div class="swiper-button swiper-button-next">
      <div class="swiper-button__icon">
        <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
      </div>
    </div>
  </div>

  <div class="swiper-popup">
    <div class="swiper-popup__close" data-preview-close><svg class="icon icon-close" role="img"><use xlink:href="/img/2024/sprite.svg#close"/></svg></div>
    <div class="swiper-popup__body">
      <div class="gallery-view base-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/img/gallery/img-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-4.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/img/gallery/img-3.jpg" alt=""></div>
        </div>

        <div class="swiper-button swiper-button-prev ">
          <div class="swiper-button__icon">
            <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
          </div>
        </div>
        <div class="swiper-button swiper-button-next">
          <div class="swiper-button__icon">
            <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
          </div>
        </div>
      </div>

      <div class="base-swiper thumb-swiper">
        <div class="swiper-wrapper ">
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-3.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/gallery/thumb-3.jpg" alt="">
          </div>
        </div>

        <div class="swiper-button swiper-button-prev">
          <div class="swiper-button__icon">
            <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
          </div>
        </div>

        <div class="swiper-button swiper-button-next">
          <div class="swiper-button__icon">
            <svg class="icon icon-arrow-right" role="img"><use xlink:href="/img/2024/sprite.svg#arrow-right"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
